In [1]:
#Area Computation

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('C:\\Users\\Nana Qwasi\\Desktop\\Tutorials\\Programming\\Projects\\Area Computation.csv')

In [4]:
df['D_left'] = df['C.L.Left'] - df['I.L.Left']

In [5]:
df['D_center'] = df['C.L.Center'] - df['I.L.Center']

In [6]:
df['D-right'] = df['C.L.Right'] - df['I.L.Right']

In [7]:
df['Average'] = (df['D_left'] + df['D_center'] + df['D-right']) / 3

In [8]:
df['Average'] = df['Average'].round(3)

In [9]:
df['mean_D'] = (df['Average'] + df['Average'].shift(1)) / 2

In [10]:
df['mean_D'] = df['mean_D'].round(3)

In [11]:
df['Mean_W'] = (df['Width'] + df['Width'].shift(1))/ 2

In [12]:
df['Mean_W'] = df['Mean_W'].round(3)

In [13]:
df['Area'] = (df['Chainage'] - df['Chainage'].shift(1)) * df['Mean_W']

In [14]:
df['Area'] = df['Area'].round(3)

In [15]:
df.head()

,Chainage,I.L.Left,I.L.Center,I.L.Right,C.L.Left,C.L.Center,C.L.Right,Width,D_left,D_center,D-right,Average,mean_D,Mean_W,Area
0,0,305.664,306.046,305.896,305.416,305.622,305.782,9.70,-0.248,-0.424,-0.114,-0.262,NaN,NaN,NaN
1,25,304.989,305.144,305.490,304.968,305.144,305.256,8.85,-0.021,0.000,-0.234,-0.085,-0.174,9.275,231.875
2,50,304.245,304.775,304.882,304.245,304.521,304.656,8.32,0.000,-0.254,-0.226,-0.160,-0.122,8.585,214.625
3,75,304.601,304.708,304.914,304.351,304.687,304.740,8.00,-0.250,-0.021,-0.174,-0.148,-0.154,8.160,204.000

In [18]:
new_df = df[['D_left','D_center','D-right','Average','mean_D','Mean_W','Area']]

In [19]:
new_df.head()

   D_left  D_center  D-right  Average  mean_D  Mean_W     Area
0  -0.248    -0.424   -0.114   -0.262     NaN     NaN      NaN
1  -0.021     0.000   -0.234   -0.085  -0.174   9.275  231.875
2   0.000    -0.254   -0.226   -0.160  -0.122   8.585  214.625
3  -0.250    -0.021   -0.174   -0.148  -0.154   8.160  204.000

In [20]:
new_df.to_csv('C:\\Users\\Nana Qwasi\\Desktop\\Tutorials\\Programming\\Projects\\Area_Computation.csv',index=False)

In [21]:
new_df = pd.read_csv('C:\\Users\\Nana Qwasi\\Desktop\\Tutorials\\Programming\\Projects\\Area_Computation.csv')

In [22]:
new_df.head()

   D_left  D_center  D-right  Average  mean_D  Mean_W     Area
0  -0.248    -0.424   -0.114   -0.262     NaN     NaN      NaN
1  -0.021     0.000   -0.234   -0.085  -0.174   9.275  231.875
2   0.000    -0.254   -0.226   -0.160  -0.122   8.585  214.625
3  -0.250    -0.021   -0.174   -0.148  -0.154   8.160  204.000